body {
  font-family: 'Open Sans', sans-serif;
  min-height: 740px;

  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}


a, a:visited {
  color: rgb(100, 135, 195);
  text-decoration: none;
}


h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(100, 135, 195);
  border-bottom: 1px solid #C8C8C8;
}


h2 {
  margin-right: 100px;
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: right;
  color: rgb(100, 135, 195);
}

p {
  margin: 25px 0;
  margin-left: 60px;
  font-size: 1.8rem;
  line-height: 2rem;
}

p.note {
  font-size: 1rem;
  color: #666;
}

ul {
  font-size: 1.8rem;
  text-align: left;
  list-style: none;
}


/* forcing a width onto all steps */
.step {
  position: relative;
  margin: 20px auto;
  width: 900px;
  padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}



/* give all steps a light opacity by default */
.impress-enabled .step {
  opacity: 0.0;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;
}

.impress-enabled .step.active { 
  opacity: 1;
}

.impress-enabled .substep {
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;  
}

.impress-enabled .substep.active {
  opacity: 1;
}

.impress-enabled .substep.present { 
  color: rgb(100, 135, 195);
}

.right {
  float: right;
}


/*Components */
#components{
	height: 900px;
	width: 900px;
	border:1px solid black;
}
#components.past{
	opacity: 1;
}
#components .box{
	text-align: center;
	height: 100px;
	width: 200px;
	font-size: 150%;
	line-height: 50px;
	position: absolute;
	-webkit-transition: all 1s;
	-moz-transition:    all 1s;
	-ms-transition:     all 1s;
	-o-transition:      all 1s;
	transition:         all 1s; 
}
#components .idl{
	background-color: #BDD0E9;
	top: 200px;
	left: 550px;
}

#components .gen{
	top: 200px;
	left: 550px;
}
#components .gen.active {
	background-color: #41719C;
	color: white;
	left: 100px;
}
#components .lib div{
	position: absolute;
	background-color: #BDD0E9;
	height: 230px;
	width: 220px;
	top: 310px;
	left: 90px;
}
#components .lib span{
	position: absolute;
	top: 550px;
	left: 180px;
}
#components .prot{
	background-color: #ED7D31;
	color: white;
	top: 320px;
	left: 100px;
}
#components .protEx{
	position: absolute;
	top: 340px;
	left: 350px;
}
#components .trans{
	background-color: #ED7D31;
	color: white;
	top: 430px;
	left: 100px;
}
#components .transEx{
	position: absolute;
	top: 450px;
	left: 350px;
}
#components .server div{
	position: absolute;
	background-color: #BDD0E9;
	height: 230px;
	width: 220px;
	top: 590px;
	left: 90px;
}
#components .server span{
	position: absolute;
	top: 830px;
	left: 180px;
}
#components .hand{
	background-color: #FEC000;
	color: white;
	top: 600px;
	left: 100px;
}
#components .handEx{
	position: absolute;
	top: 620px;
	left: 350px;
}
#components .serv{
	background-color: #4F88BB;
	color: white;
	top: 710px;
	left: 100px;
}
#components .client{
	position: absolute;
	top: 240px;
	left: 350px;
}

.bolder{
	font-weight: bold;
	font-size:200%;
}

#lunchBlocks{
	width: 800px;
	height: 800px;
}

#lunchBlocks .box{
	width: 300px;
	height: 200px;
	font-size: 300%;
	border:1px solid black;
	background-color: #41719C;
	color: white;
	position: absolute;
	text-align:center;
}

#lunchBlocks .server{
	left: 250px;
	top: 50px;
}

#lunchBlocks .web{
	left: 50px;
	top: 350px;
}

#lunchBlocks .decider{
	left: 450px;
	top: 350px;
}

#lunchBlocks p{
position: absolute;
	left: 260px;
	top: 550px;
}

#cloud div{
	position:absolute;
}


