body {
  font-family: 'Open Sans', sans-serif;
  min-height: 740px;

  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}


a, a:visited {
  color: rgb(100, 135, 195);
  text-decoration: none;
}


h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(100, 135, 195);
  border-bottom: 1px solid #C8C8C8;
}


h2 {
  margin-right: 100px;
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: right;
  color: rgb(100, 135, 195);
}

p {
  margin: 25px 0;
  margin-left: 60px;
  font-size: 1.8rem;
  line-height: 2rem;
}

p.note {
  font-size: 1rem;
  color: #666;
}

ul {
  font-size: 1.8rem;
  text-align: left;
  list-style: none;
}


/* forcing a width onto all steps */
.step {
  position: relative;
  margin: 20px auto;
  width: 900px;
  padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}



/* give all steps a light opacity by default */
.impress-enabled .step {
  opacity: 0.0;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;
}

.impress-enabled .step.active { 
  opacity: 1;
}

.impress-enabled .substep {
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;  
}

.impress-enabled .substep.active {
  opacity: 1;
}

.impress-enabled .substep.present { 
  color: rgb(100, 135, 195);
}

.right {
  float: right;
}

/*REST! Slide*/
.rest{
	position: relative;
	-webkit-transition: font-size 2s;
   -moz-transition:    	font-size 2s;
    -ms-transition:     font-size 2s;
    -o-transition:      font-size 2s;
    transition:         font-size 2s; 
}
.active .rest{
	font-size: 2000%;
	margin-bottom: 200px;
}
.star{
	float:left;
	margin-right:30px;
}

.pre{
font-family:"Courier New", Courier, monospace;
background-color: rgb(190, 190, 190);
color: black;
}

/* RPC Slide */
.rpc{
	width: 9000px;
	clear: both;
}
.rpc div{
	float:left;
}
.rpc .c,
.rpc .r,
.rpc .p{
	font-size:1200%;
	position: relative;
}
.rpc .emote, .rpc .rocedure, .rpc .all{
	opacity:0;
	max-width: 0px;
	font-size: 400%;
	position: relative;
	top:114px;
	-webkit-transition: all 3s;
	-moz-transition:    all 3s;
	-ms-transition:     all 3s;
	-o-transition:      all 3s;
	transition:         all 3s;  
	-webkit-transition-delay: .5s;
	-moz-transition-delay: 	  .5s;
	-ms-transition-delay:     .5s;
	-o-transition-delay:      .5s;
	transition-delay:         .5s;
}
.rpc .rocedure{
	left: -30px;
}
.present .rpc .emote, .present .rpc .rocedure, .present .rpc .all{
	opacity: 1;
	max-width: 500px;
}

/*Components */
#components{
	height: 900px;
	width: 900px;
	border:1px solid black;
}
#components .box{
	text-align: center;
	height: 100px;
	width: 200px;
	font-size: 150%;
	line-height: 50px;
	position: absolute;
	-webkit-transition: all 1s;
	-moz-transition:    all 1s;
	-ms-transition:     all 1s;
	-o-transition:      all 1s;
	transition:         all 1s; 
}
#components .idl{
	background-color: #BDD0E9;
	top: 200px;
	left: 550px;
}

#components .gen{
	top: 200px;
	left: 550px;
}
#components .gen.active {
	background-color: #41719C;
	color: white;
	left: 100px;
}
#components .lib div{
	position: absolute;
	background-color: #BDD0E9;
	height: 230px;
	width: 220px;
	top: 310px;
	left: 90px;
}
#components .lib span{
	position: absolute;
	top: 550px;
	left: 180px;
}
#components .prot{
	background-color: #ED7D31;
	color: white;
	top: 320px;
	left: 100px;
}
#components .protEx{
	position: absolute;
	top: 340px;
	left: 350px;
}
#components .trans{
	background-color: #ED7D31;
	color: white;
	top: 430px;
	left: 100px;
}
#components .transEx{
	position: absolute;
	top: 450px;
	left: 350px;
}
#components .server div{
	position: absolute;
	background-color: #BDD0E9;
	height: 230px;
	width: 220px;
	top: 590px;
	left: 90px;
}
#components .server span{
	position: absolute;
	top: 830px;
	left: 180px;
}
#components .hand{
	background-color: #FEC000;
	color: white;
	top: 600px;
	left: 100px;
}
#components .handEx{
	position: absolute;
	top: 620px;
	left: 350px;
}
#components .serv{
	background-color: #4F88BB;
	color: white;
	top: 710px;
	left: 100px;
}
#components .client{
	position: absolute;
	top: 240px;
	left: 350px;
}




